.head{
    text-align: center;
  
}
h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input:nth-child(1){
    margin: 5px;
    width: 40%;
    padding: 5px;
    padding-left: 15px;
    text-transform: capitalize;
}
input:nth-child(2){
    margin-top: -5px;
}